[Unit]
Description=Gunicorn Daemon for FastAPI illusion diffusion
After=network.target


[Service]
WorkingDirectory=/home/evobits/illusion_diffusion_bitmorpher
ExecStart=/home/evobits/illusion_diffusion_bitmorpher/.venv/bin/gunicorn -c illusion_diffusion_gunicorn_conf.py main:app


[Install]
WantedBy=multi-user.target
