fastapi
uvicorn[standard]
gunicorn
piexif

# ----------------------- illusion related requirements-----------------------------------------------------------------
diffusers
transformers
accelerate
torch
xformers
gradio
Pillow
qrcode
filelock